@charset "utf-8";
/* CSS Document */

/*css reset*/
body{background-color:#fcfcfc;  line-height: 1.5; color:#333;}
body,div,dl,dt,dd,ul,li,ol,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0; padding:0;}
table {border-collapse:collapse; border-spacing:0;}
fieldset,img {border:0;}
ol,ul,li {list-style:none;}
caption,th{text-align:left;}

q:before,q:after {content:'';}
abbr,acronym {border:0;}
a {color:inherit; text-decoration:none; cursor:pointer;}
a:hover{text-decoration:underline;}

.page-width{magin:0 auto; padding:0 5%;}
.header-box{position:relative; z-index:999; border-bottom:1px solid #ccc;}
.header-name{position:absolute; float:left; margin-left:0; height:60px; line-height:60px;}
.header-name h1{line-height:60px; font-size:26px; float:left;}
.version{float:left; margin-left:5px; color:#666; font-size:12px;}
.head-inner{position:relative;padding:0 0 0 205px;height:60px;font-size:12px;}

.main{font-size:13px;}
.layout-left{width:19%; float:left;}
.layout-right{width:80%; float:right;}
.boxstyle{background-color:#fff; border:1px solid #cecece;}

.friendlink{overflow:hidden; margin:10px 0 10px; padding:8px 5px; }
.friendlink ul li{float:left; width:20%;}
.friendlink ul li a{float:left;}
.urlbox-left{overflow:hidden; margin:10px 0 10px; padding:8px 5px; }
.urlbox-right{overflow:hidden; margin:10px 0 10px; padding:8px 5px; }
.urlbox-right ul li{float:left; width:20%;}
.urlbox-right ul li a{float:left;}

.flower{width:9px; height:12px; margin-top:3px; margin-left:5px; background:url(images/gif023.gif) no-repeat; float:left;}





